
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

@font-face {
    font-family: 'PressuraMono';
    src: url('GT-Pressura-Extended-Medium-Trial.woff2') format('woff2');
    /* src: url('webfont.eot'); IE9 Compat Modes */
    /* src: url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
         /* url('GT-Pressura-Extended-Medium-Trial.woff2') format('woff2'), Super Modern Browsers */
         /* url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
         /* url('webfont.ttf')  format('truetype'), Safari, Android, iOS */
         /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */ */
}


body {
    display: flex;
    flex-direction: column;
    transition: .5s;
    font-family: 'PressuraMono';
    background-color: rgb(10, 10, 63);;
}
h2 {
    margin-top: 10%;
    transition: .5s;

    animation-duration: 1.5s;
    animation-name: slidein;
    font-size: 22pt;
}
h3 {
    color: white;
    line-height: 40%;

    animation-duration: 10s;
    animation-name: appear;

}
p {
    color: rgb(108, 108, 188);
    transition: 7s;
    font-size: 3pt;
    line-height: 10%;
    -webkit-text-stroke: .5px aliceblue;
}
a {
    color: white;
    text-decoration: double underline;
    transition: .5s;
}

p:hover {
    font-size: 333pt;
    text-align: justify;
    color: aliceblue;
    line-height: 55%;
    -webkit-text-stroke: 8px rgb(10, 10, 63);
}
a:hover {
    text-decoration: none;
}


#proj2:hover {
    font-size: 77pt;
}
#proj3:hover {
    font-size: 77pt;
}
#proj4:hover {
    font-size: 77pt;
}


.proj {
    margin-top: 5%;
    text-align: center;
}
.text {
    text-align: justify;
    width: 80%;
    align-self: center;
    margin: 5%;

    text-align: justify;
}

.abstract {
    display: flex;
    flex-direction: row;
    height: 80%;
}
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
  }


.container{
    /* width: 33.34%; */
    flex-grow: 7;
    height: 85vh;
    color: white;
    background-color: rgb(10, 10, 63);;
    /* border: 10px solid salmon; */
    display: flex;
    flex-direction: column;
    transition: .5s;
    text-align: center;
    justify-content: center;
}

.topspace {
    height: 15%;
    /* background-color: blue; */
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    padding-left: 5%;
}


   
    .container:hover h2 {
        color: lightcoral;
        font-size: 7pt;
    }
    .container:hover {
        flex-grow: 1;
        background-color: red;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        line-height: 9.5vh;
    }


/* .gog:hover, .container:hover {
       border-radius: 20%;
       width: 100%;
    } */



       /* @keyframes atoveg {
        0% {
            transform: background-color:rgb(222, 242, 3);
        }
        25% {
                width: 100%;
        }
        100% {
                width: 15%;
                background-color:rgb(242, 3, 47);
                rotate: 90deg;
                height: 22%;
        }
       } */
    



.container2{
    /* width: 33.34%; */
    flex-grow: 7;
    height: 85vh;
    color: white;
    background-color: rgb(10, 10, 63);;
    /* border: 10px solid salmon; */
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    transition: .5s;
    justify-content: center;
}



   
    .container2:hover h2 {
        color: rgb(123, 181, 41);
        font-size: 7pt;
    }
    /* .bog:hover, .container2:hover {
        border-radius: 20%;
        width: 100%;
     } */
.container2:hover {
    flex-grow: 5;
    background-color: green;
    line-height: 9.5vh;
}



.container3{
    /* width: 33.34%; */
    flex-grow: 7;
    height: 85vh;
    color: white;
    background-color: rgb(10, 10, 63);
    /* border: 10px solid salmon; */
    display: flex;
    flex-direction: column;
    position: inherit;
    text-align: center;
    transition: .5s;
    justify-content: center;
}




.container3:hover h2 {
    color: lightblue;
    font-size: 7pt;
}
.container3:hover {

    background-color: blue;
    flex-grow: 5;

    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    line-height: 9.5vh;
}

/* .cog:hover, .container3:hover {
       border-radius: 20%;
       width: 100%;
    } */







@media screen and (max-width: 600px){
    body {
        background-color: orange;
    }
    p {
        color: orangered;
        -webkit-text-stroke: 3px orange;
        font-size: 999%;
        line-height: 55%;
        overflow-wrap: break-word;

        text-align: justify;
    }
    h2 {
        margin-top: 5%;
    }
    h3 {
        font-size: 22pt;
        opacity: 50%;
        animation-duration: 10s;
        animation-name: appear2;
        transition: .5s;

    }

    p:hover {
        font-size: 888%;
        line-height: 55%;
        -webkit-text-stroke: 0px;
        color: orangered;
    }

    #proj2 {
        font-size: 33pt;
    }
    #proj3 {
        font-size: 33pt;
    }
    #proj4 {
        font-size: 33pt;
    }

    @keyframes appear2 {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 50;
        }
      }

    .abstract {
        flex-direction: column;
    }

    .container {
        color: lightcoral;
        background-color: red;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 0%;
        height: 60vh;
    }
        .container h2 {
            color: lightcoral;
        }
    .container2 {
        color: rgb(123, 181, 41);
        background-color: green;
        height: 60vh;
    }
        .container2 h2 {
            color: rgb(123, 181, 41);
        }
    .container3 {
        color: lightblue;
        background-color: blue;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 0%;
        height: 60vh;
    }
        .container3 h2 {
            color: lightblue;
        }


    .text {
        text-align: justify;
        width: 95%;
    }

}
